body {
    text-align: center;
    padding-top: 800px;
    margin: 0;
}

.photo {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 50px;
}

#welcome {
    text-align: center;
    position: absolute;
    overflow: hidden;
    height: 800px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    opacity: 1;
    width: 100% height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
}


hr {
    width: 50px;
    height: 6px;
    color: #000
}

#Name {
    font-size: 30px;
    font-family: 'Odibee Sans', cursive;
}

#bio {
    padding: 50px;
    text-align: center;
}

hr {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.menu {
    list-style: none;
    font-family: 'Odibee Sans', cursive;
    position: fixed;
    top: 0px;
    cursor: pointer;
    z-index: 10;
    padding-right: 20px;
    width: 100%;
    margin-left: 700px;
}

.links {
    float: left;
    color: darkorchid;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    font-family: fantasy;
    font-size: 20px;
    padding-bottom: 5px;
    color: dodgerblue;
    text-shadow: 2px 2px black;
    display: inline;   
}

.links:hover {
    background-color: deeppink;
    text-decoration: underline;
    font-size: 25px;
}

a {
    text-decoration: none;
    text-shadow: 2px 2px black;
    display: inline;
}

html {
    scroll-behavior: smooth;
}

.article:hover {
    color: brown;
}

#writings a {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: aquamarine !important;
    
}

#contacts {
    width: 100%;
    
}

.contact him a {
    color: aliceblue;
    text-shadow: none;
    
}

.contact him h3 {
    display: inline;
    font-style: oblique;
}

